<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iSales">
    <!-- To auto-complete usernamemail text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".pages.welcome.WelcomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pages.login.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".pages.home.HomeActivity"
            android:theme="@style/AppTheme.Template.Base" />
        <activity
            android:name=".pages.addcustomer.AddCustomerActivity"
            android:label="@string/ajouter_client"
            android:parentActivityName=".pages.home.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iSales.pages.home.HomeActivity" />
        </activity>
        <activity
            android:name=".pages.addcategorie.AddCategorieActivity"
            android:label="@string/ajouter_categorie"
            android:parentActivityName=".pages.home.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iSales.pages.home.HomeActivity" />
        </activity>
        <activity
            android:name=".pages.boncmdeverification.BonCmdeVerificationActivity"
            android:label="@string/verification"
            android:parentActivityName=".pages.home.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iSales.pages.home.HomeActivity" />
        </activity>
        <activity
            android:name=".pages.boncmdesignature.BonCmdeSignatureActivity"
            android:label="@string/signature"
            android:parentActivityName=".pages.boncmdeverification.BonCmdeVerificationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iSales.pages.boncmdeverification.BonCmdeVerificationActivity" />
        </activity>
        <activity
            android:name=".pages.detailscmde.DetailsCmdeActivity"
            android:label="@string/details_commande"
            android:parentActivityName=".pages.home.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iSales.pages.home.HomeActivity" />
        </activity>
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity
            android:name=".pages.detailsproduit.DetailsProduitActivity"
            android:label="@string/details_produit"
            android:parentActivityName=".pages.home.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iSales.pages.home.HomeActivity" />
        </activity>
        <activity
            android:name=".pages.profile.ProfileActivity"
            android:label="@string/profile"
            android:parentActivityName=".pages.home.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iSales.pages.home.HomeActivity" />
        </activity>
        <activity
            android:name=".pages.calendar.CalendarActivity"
            android:label="@string/title_activity_calendar"
            android:parentActivityName=".pages.home.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iSales.pages.home.HomeActivity" />
        </activity>
        <activity
            android:name=".pages.calendar.AgendaEventDetails"
            android:label="@string/title_activity_calendar_details"
            android:parentActivityName=".pages.calendar.CalendarActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iSales.pages.home.HomeActivity" />
        </activity>
        <activity
            android:name=".pages.synchronisation.SynchronisationActivity"
            android:label="@string/synchronisation"
            android:parentActivityName=".pages.home.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iSales.pages.home.HomeActivity" />
        </activity>
        <activity android:name=".pages.ticketing.TicketingActivity"
            android:label="@string/support_ticket"
            android:parentActivityName=".pages.home.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iSales.pages.home.HomeActivity" />
        </activity>
        <activity
            android:name=".pages.parametres.ParametresActivity"
            android:label="@string/parametres"
            android:parentActivityName=".pages.home.HomeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.iSales.pages.home.HomeActivity" />
        </activity>
    </application>

</manifest>